VITE_SUPABASE_URL=https://dhxkwbjtsldlfctwgntr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRoeGt3Ymp0c2xkbGZjdHdnbnRyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyMTk2MTQsImV4cCI6MjA4ODc5NTYxNH0.mz9LC01m_JvnLj_BVxJgi0pwlUIITJcY10Xmxf2ARuo
TELEGRAM_BOT_TOKEN=8765050636:AAHcp20M055CAYRI40c7lOK_DRt97nKfO7g
JWT_SECRET=salem123
VITE_EMAILJS_SERVICE_ID=service_butqh9w
VITE_EMAILJS_TEMPLATE_ID=template_pqwm9kh
VITE_EMAILJS_PUBLIC_KEY=kvaDDGEWw7rSh8gbg
VITE_ADMIN_EMAIL=sanjaim0940r@gmail.com

# SMTP Configuration for Daily Reports
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=sanjaim0940r@gmail.com
SMTP_PASS=ellk pmiy wyxy qyun
SMTP_SECURE=465
